@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* tailwind sidebar
    */
    .sidebar-icon {
        @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto hover:bg-green-500 bg-slate-600 rounded-xl hover:rounded-3xl transition-all duration-300 ease-linear cursor-pointer;
    }
    .sidebar-tooltip {
        @apply absolute w-auto h-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
    }

    /* general settings
    */
    html {
        scroll-behavior: smooth;
    }

    body {
        font-size: 16px;
        line-height: 1.6;
        color: #333;
        overflow-x: hidden;
    }

    p {
      font-size: 16px;
      line-height: 1.6;
    }

    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 20px;
        margin-bottom: 1%;
    }

    .centered {
        text-align: center;
        display: table;
        margin: 0 auto;
    }
    
    /* info boxes
    */
    .info-box {
        display: flex;
        margin: 0 auto;
        max-width: 80%;
        padding-top: 0px;
        padding: 1%;
        height:100%;
        width: 100;

        box-shadow: 7.5px 7.5px 3.75px #42546c42;
        border-radius: 25px;
        color: #d8e1e7;
        background-color:#334155;
        
        overflow: visible;
    }

    /* page sector
    */
    .sector {
        width: auto;
        margin-left: 4rem;
        padding: 60px 0;
        border-bottom: 2px solid #334155 ; /*?*/
        background-image: url("im/stars_bg.jpg");
        overflow: visible;
    }

    /* home
    */
    .user-img-container {
        width:40%;
        height: auto;
    }

    .user-img {
        display: block;   
        max-width:100%;
        max-height:100%;
        border-radius: 50%;
    }

    .user-name {
      /*font-weight: bold;*/
      display: flex;
      margin-right: auto;
    }

    .user-info {
        margin-left:2%;
    }

   .stack-logo {
    width:7%;
    height:7%;
    padding: 0 1%;
    padding-top: 1%;
   }

    .box-text {
        position: relative; 
        display: block;
        padding-bottom: 5%;
    }
      
}